$base-text-color: #666;
$meta-color: #A8A7A7;

.page_subtitle {
  margin-top: 15px;

  .hr { height: 40px; }
  h2 {
    position: absolute;
    font-family: Adele, serif;
    font-size: 20px;
    font-style: italic;
    margin: -29px 0px 0px 15px;

    span { color: #00b1d7; }
    &.subscribe {
      right: 30px;
      margin-top: -31px;
      text-transform: uppercase;
      font-family: BebasNeue, sans-serif;
      font-style: normal;
      font-size: 24px;

      a { color: #00b1d7; }
      a:hover { color: #046380; }
    }
  }
}

.row.index-content {
  margin: 15px 0px;

  .col-md-4 {
    margin-bottom: 20px;

    .description_box {
      position: relative;
      margin-top: -65px;
      height: 150px;
      width: 330px;
      background-color: #fff;
      border: 1px solid #ebebeb;

      &:after {
        content: '';
        position: absolute;
        height: 3px;
        width: 322px;
        left: 3px;
        bottom: -4px;
        background-color: #fff;
        border: 1px solid #ebebeb;
        border-top: 0px;
      }
      .post_category {
        background-color: #00b1d7;
        color: #fff;
        font-family: BebasNeue, sans-serif;
        text-transform: uppercase;
        height: 24px;
        font-size: 18px;
        line-height: 24px;
        width: 62px;
        margin-top: -10px;
        margin-left: -3px;
        padding-left: 10px;
      }
      .post_title {
        padding: 4px 30px 0 20px;
        margin-top: 5px;
        margin-left: -1px;
        border-left: 12px solid rgb(183, 214, 183);

        a {
          font-family: Adele, serif;
          font-size: 18px;
          font-style: italic;
          color: #000;

          &:hover { text-decoration: underline; }
        }
      }
      .post_description, .post_date {
        font-size: 12px;
        height: 61px;
        color: #959595;
        padding: 10px 30px 0 20px;
        font-style: italic;
      }
      .post_date {
        margin: 7px 20px 0 20px;
        padding: 7px 0 0 0;
        time { padding-right: 15px; }
        span { color: #00b1d7; }
      }
    }
  }

  .col-md-6 {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ebebeb;
    padding: 10px;
    width: 540px;
    margin: 15px;

    &:after {
      content: '';
      position: absolute;
      height: 3px;
      width: 532px;
      left: 3px;
      bottom: -4px;
      background-color: #fff;
      border: 1px solid #ebebeb;
      border-top: 0px;
    }
    img {
      height: 90px;
      width: 110px;
      padding: 4px;
      border: 1px solid #ebebeb;
      float: left;
      margin-right: 10px;
    }

    .post_title {
      margin-top: -1px;

      a {
        font-family: Adele, serif;
        font-size: 18px;
        font-style: italic;
        color: #000;

        &:hover { text-decoration: underline; }
      }
    }
    .post_description { height: 61px; }
    .post_description, .post_date {
      font-size: 12px;
      color: #959595;
      font-style: italic;
    }
    .post_date {
      margin: 15px 0 0 5px;
      time { padding-right: 15px; }
      span { color: #00b1d7; }
    }
    .comments-counter {
      width: 45px;
      height: 45px;
      display: block;
      background-color: #00b1d7;
      color: #fff;
      position: absolute;
      right: -1px;
      bottom: -1px;
      font-family: Economica, serif;
      font-weight: bold;
      font-size: 18px;
      line-height: 45px;
      text-align: center;
    }
  }
}

.row.show-content {
  margin: 15px 0px;

  .col-md-12 { padding-left: 10px; }
  img#titlepic {
    width: 1130px;
    height: 600px;
  }
}



























.content-box {
  @include box-shadow(0 0 4px rgba(0,0,0,0.125));
  margin-bottom: 20px;
  background: #F9F9F9;
  border: 1px solid #C0C0C0;
  border-color: rgba(0,0,0,0.15);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

// Index page
#subscribe_btn {
  @include box-shadow(0 0 5px #F2AE72 inset, 0 1px 1px #eee);
  background-color: #F2AE72;
  opacity: 0.8;
  color: #fff !important;
  &:hover {
    opacity: 1;
  }
}

.span5.content-box {
  width: 390px;
  .article-heading {
    @include adjust-font-size-to(22px);
    border-bottom: 1px solid #d3d3d3;

    .titlepic_thumb {
      width: 390px;
      height: 250px;
      display: block;
      position: relative;
      overflow: hidden;
      margin: -1px 0 0 -1px;
      img {
        min-width: 100%;
        min-height: 100%;
      }
    }

    a {
      display: table;
      z-index: 2;
      margin: -250px 0px 0px 0px;
      vertical-align: bottom;
      height: 250px;
      overflow: hidden;
      position: relative;
    }
    a span {
      width: 390px;
      display: table-cell;
      vertical-align: bottom;
      padding: 20px 0 20px 30px;

      b {
        background-color: rgba(0,0,0,.7);
        display: inline-block;
        margin-bottom: 5px;
        color: #fff;
        padding: 4px 11px 3px;
        line-height: 1.5;
        white-space: nowrap;
      }
    }
  }
  .article-body {
    border-top: 1px solid #efefef;
    padding: 15px 25px 25px 25px;

    div {
      @include adjust-font-size-to(13px);
      color: #737373;
      padding-bottom: 15px;
    }
    p.article-description {
      color: $base-text-color;
      padding-bottom: 14px;
      height: 60px;
    }
  }
}

// Show page
.span10.content-box {
  width: 806px;

  .titlepic_original {
    width: 806px;
    height: 400px;
    display: block;
    position: relative;
    overflow: hidden;
    margin: -1px 0 0 -1px;
    img {
      min-width: 100%;
      min-height: 100%;
    }
  }
  .article-heading {
    border-top: 1px solid #efefef;
    padding: 10px 40px;
    .article-info { color: #525151; }
    h2 { @include adjust-font-size-to(30px); }
    i {
      margin-right: 8px;
      @include adjust-font-size-to(20px);
    }
    b { @include adjust-font-size-to(15px); }
    span { padding-right: 40px; }
  }
  .article-body {
    color: $base-text-color;
    padding: 0px 40px 60px;
  }
  .article-tags {
    i { margin-right: 8px; }
    b {
      @include adjust-font-size-to(15px);
      color: $base-text-color;
      padding-right: 5px;
    }
    padding: 0px 40px 15px;
  }
}

// New Article
#new_article, #restore_password {
  .content-box { padding: 20px 40px; }
  .form-actions {
    border-top: 0;
    margin-top: 0px;
    button { margin-top: -5px; }
    button, a { margin-right: 5px; }
  }
}

// Redactor
.redactor_editor {
  width: 100%;
  border: 1px solid #cccccc;
}

.under_redactor select { margin-top: 10px; }
