.comments {
  h2 { @include adjust-font-size-to(20px); }
  #comments_title { float: left; }
  #comments_count {
    color: $meta-color;
    float: right;
  }
  .comments-heading {
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    padding: 10px 30px;
    overflow: hidden;
  }
  .comments-body { padding: 30px; }
  .avatar {
    z-index: 1;
    position: absolute;
    border: 1px solid #ddd;
    padding: 5px;
    background: #fff;
  }
}

.nested_comments {
  .nested_comments { padding-left: 30px; }
  .media-body {
    @include adjust-font-size-to(16px);
    color: $base-text-color;
    border: 1px solid #ddd;
    background: #f6f6f6;
    position: relative;
    overflow: visible;
    padding-left: 65px;
    padding-bottom: 10px;
    margin-bottom: 20px;

    &.reply { border-color: rgb(243, 173, 108); }
    .actions {
      position: absolute;
      top: 20px;
      right: 15px;
      z-index: 3;
    }
    p {
      @include word-break(break-word);
      margin-right: 80px;
    }
    .comment-meta {
      color: $meta-color;
      font-size: 0.9em;
      font-weight: 900;
      margin-top: 0.3em;
      margin-bottom: 0.9em;

      i { margin-right: 6px; }
      span.right-border {
        padding-right: 10px;
        margin-right: 10px;
        border-right: 1px solid #ddd;
      }
    }
    .avatar {
      margin-left: 0;
      left: -18px;
      top: 25px;
    }
  }
  h4 {
    display: inline-block;
    font-size: 1.2em;
    margin-top: 1em;
    margin-bottom: 0;
  }
}

.nested_comments .nested_comments .nested_comments .nested_comments .nested_comments {
  padding-left: 0;
}

#new_comment {
  border-top: 1px solid #efefef;
  position: relative;

  .avatar {
    top: 51px;
  }
  textarea {
    margin-left: 70px;
    width: 583px;
    height: 51px;
  }
  .actions #submit_comment { margin-right: 10px; }
  .actions #reset_reply { display: none; }
}
