#comments {
  background-color: $color_3;
  border: 1px solid #ebebeb;

  h2 {
    font-size: 18px;
    line-height: 25px;
    margin: 10px 0;
  }
  .comments-heading {
    border-bottom: 1px solid #ebebeb;
    overflow: hidden;
    position: relative;

    .hr {
      @include opacity(0.3);
      height: 60px;
    }
    #comments_title {
      position: absolute;
      font-family: $font_family_2;
      left: 20px;
      top: 10px;
    }
    #comments_count {
      font-family: $font_family_1;
      color: $color_4;
      position: absolute;
      right: 20px;
      top: 10px;
    }
  }
  .comments-body { padding: 20px; }
  .avatar {
    z-index: 1;
    position: absolute;
    border: 1px solid #ddd;
    padding: 5px;
    background: $color_3;
  }
}

#new_comment {
  border-top: 1px solid #efefef;
  position: relative;

  textarea {
    margin-left: 70px;
    width: 505px;
    height: 62px;
  }
  p.actions {
    margin-top: 10px;
  }
  .actions #submit_comment { margin-right: 10px; }
  .actions #reset_reply { display: none; }
}

#nested_comments {
  .nested_comments { padding-left: 20px; }
  .nested_comments .nested_comments .nested_comments .nested_comments {
    .actions { display: none; }
    .nested_comments { padding-left: 0; }
  }
  .media-body {
    color: #555;
    border: 1px solid #ddd;
    background: #f6f6f6;
    position: relative;
    overflow: visible;
    padding-left: 65px;
    padding-bottom: 10px;
    margin-bottom: 20px;

    h4 {
      display: inline-block;
      font-size: 1.2em;
      margin-top: 1em;
      margin-bottom: 0;
      font-family: $font_family_1;
    }
    &.reply { border-color: $color_2; }
    &:hover .actions { display: block; }
    .actions {
      position: absolute;
      display: none;
      top: 20px;
      right: 15px;
      z-index: 3;
    }
    p {
      @include word-break(break-word);
      margin-right: 80px;
      font-family: $font_family_2;
    }
    .comment-meta {
      color: $color_4;
      font-size: 0.9em;
      font-weight: 900;
      margin-top: 0.3em;
      margin-bottom: 0.9em;
      font-family: $font_family_3;

      i { margin-right: 6px; }
      span.right-border {
        padding-right: 10px;
        margin-right: 10px;
        border-right: 1px solid #ddd;
      }
    }
    .avatar {
      margin-left: 0;
      left: -18px;
      top: 25px;
    }
  }
}
