$layout-font-family: 'Open Sans Condensed', sans-serif;

@include sticky-footer(30px, "#wrap", "#push", "#footer");

// Vertical Rhythm
@include establish-baseline;

@font-face {
  font: {
     family: 'BebasNeue';
     weight: 'normal';
     style: 'normal';
  }
  src: asset-url('BebasNeue.otf', font);
}

@font-face {
  font: {
     family: 'Adele';
     weight: 'normal';
     style: 'normal';
  }
  src: asset-url('Adele.woff', font);
}

@font-face {
  font: {
     family: 'Economica';
     weight: 'normal';
     style: 'normal';
  }
  src: asset-url('Economica.woff', font);
}

@font-face {
  font: {
     family: 'Brandon';
     weight: 'normal';
     style: 'normal';
  }
  src: asset-url('Brandon_bld.otf', font);
}

html, body { height: 100%; }

body {
  background: #000 image-url('bg2.png');
  color: #333;
}

.anchor {
  padding-top: 60px;
  margin-top: -60px;
}

.hr {
  @include opacity(0.5);
  background: url('stripe.png') repeat;
}

#footer p {
  padding: 0px 15px;
  line-height: 30px;
  margin: 0;
  border-top: 1px dashed #292929;
}

#logo {
  margin-top: 35px;

  a {
    @include adjust-font-size-to(62px);
    line-height: 80px;
    font-weight: bold;
    color: #292929;
    text-shadow: 2px 2px rgba(0,0,0,0.3);
    font-family: Economica, sans-serif;

    span { color: #00b1d7; }
  }
}

#squares_left {
  .first, .second, .third {
    position: absolute;
    width: 0;
    height: 0;
    left: -5px;
    border: 5px solid #292929;
  }
  .first { top: 0px; }
  .second {
    @include opacity(0.7);
    top: 10px;
  }
  .third {
    @include opacity(0.5);
    top: 20px;
  }
}

#categories_menu {
  width: 950px;
  background-color: #292929;
  margin-left: -10px;
  padding-left: 25px;
  margin-bottom: 0px;
  z-index: 3;
  position: relative;

  li {
    text-transform: uppercase;
    display:inline;
    padding: 5px;

    a {
      padding-top: 10px;
      padding-right: 8px;
      margin-right: 18px;
      line-height: 45px;
      font-family: Economica, sans-serif;
      font-size: 18px;
      font-weight: bold;
      color: #fff;

      &:hover {
        color: #00b1d7;
        border-top: 2px solid #fff;
      }
    }
  }
}

#user {
  z-index: 10;
  position: absolute;
  top: 13px;
  right: 15px;
  a {
    color: #E4E4E4;
    background-color: #292929;
    border-left: 1px solid #bebebe;
    padding: 11px 15px 10px;
    &:hover {
      color: #00b1d7;
      border-left: 1px solid #00b1d7;
    }
  }
}

#latest_and_popular {
  z-index: 2;
  width: 960px;
  text-transform: uppercase;
  font-family: BebasNeue, sans-serif;
  font-size: 16px;
  line-height: 29px;
  padding-bottom: 29px;
  margin-bottom: 15px;

  #latest {
    @include box-shadow(0px 2px 1px 0 rgba(0,0,0, 0.3));
    background-color: #fff;
    color: #000;
    border-top: 2px solid #00b1d7;
    line-height: 27px;

    span {
      border-right: 1px dashed #292929;
      padding-right: 10px;
      margin: 0 10px 0 5px;
    }
    a {
      text-transform: none;
      color: #6b6b6b;
      outline: none;
      font-family: 'Open Sans', sans-serif;
      font-size: 13px;
      &:hover { text-decoration: underline; }
    }
  }

  #popular {
    @include box-shadow(0px 2px 1px 0 rgba(0,0,0, 0.3));
    background-color: #00b1d7;
    color: #fff;
    width: 550px;

    span {
      border-right: 1px dashed #fff;
      padding-right: 10px;
      margin: 0 10px 0 5px;
    }
    a {
      text-transform: none;
      color: #fff;
      outline: none;
      font-family: 'Open Sans', sans-serif;
      font-size: 13px;
      &:hover { text-decoration: underline; }
    }
    .square-right {
      @include box-shadow(0px 2px 1px 0 rgba(0,0,0, 0.3));
      position: absolute;
      width: 0;
      height: 0;
      top: 10px;
      right: -10px;
      border: 5px solid #00b1d7;
    }
  }
}

form#search {
  position: absolute;
  top: 0px;
  left: -300px;

  input {
    line-height: 27px;
    width: 300px;
    border: 5px solid #00b1d7;
    padding: 5px 10px 1px 10px;
    font-family: Adele, sans-serif;
  }
  a {
    margin-top: 20px;
    background-color: #00b1d7;
    padding: 15px 16px 13px;
    color: #fff;

    .arrow-right {
      position: absolute;
      width: 0;
      height: 0;
      top: 13px;
      right: -8px;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      border-left: 8px solid #00b1d7;
    }
    &:hover {
      background-color: #292929;
      .arrow-right { border-left: 8px solid #292929; }
    }
  }
}

textarea { resize: none; }

.button-blue, .button-cancel, .button-delete {
  @include border-radius(2px);
  text-transform: uppercase;
  padding: 11px 16px 8px;
  font-size: 16px;
  border: 0px;
  color: #fff !important;
  text-decoration: none;
  font-family: BebasNeue, sans-serif;
  cursor: pointer;
  background-color: #00b1d7;

  &:hover { background-color: #292929; }
  &.small {
    font-size: 16px;
    padding: 10px 13px 4px;
  }
}
.button-cancel { background-color: #CECECE; }
.button-delete { background-color: #DF3030; }

@import 'social-media-icons/*.png';
@include all-social-media-icons-sprites;
$social_media_icons_height: social-media-icons-sprite-height(facebook);
$social_media_icons_width: social-media-icons-sprite-width(facebook);
#sign_in_form .modal-content {
  position: fixed;
  z-index: 20;
  left: 50%;
  top: 100px;
  margin-left: -188px;
  width: 376px;
  background-color: #fff;
  border-top: 6px solid #00b1d7;
  border-radius: 0;

  .modal-header {
    padding: 6px 9px;
    border: 0;

    button { font-size: 24px; }
  }
  .modal-body {
    #mini_logo {
      @include adjust-font-size-to(62px);
      line-height: 80px;
      font-weight: bold;
      color: #292929;
      text-shadow: 2px 2px rgba(0,0,0,0.3);
      font-family: Economica, sans-serif;

      span { color: #00b1d7; }
    }
  }
  .social-media-icons {
    height: $social_media_icons_height;
    width: $social_media_icons_width;
  }
}
