$layout-font-family: 'Open Sans Condensed', sans-serif;

@include sticky-footer(60px, "#wrap", "#push", "#footer");

// Vertical Rhythm
@include establish-baseline;

@font-face {
  font: {
     family: 'BebasNeue';
     weight: 'normal';
     style: 'normal';
  }
  src: asset-url('BebasNeue.otf', font);
}

@font-face {
  font: {
     family: 'Adele';
     weight: 'normal';
     style: 'normal';
  }
  src: asset-url('Adele.woff', font);
}

@font-face {
  font: {
     family: 'Economica';
     weight: 'normal';
     style: 'normal';
  }
  src: asset-url('Economica.woff', font);
}

html, body { height: 100%; }

body {
  background: #000 image-url('bg.png');
  color: #333;
}

.anchor {
  padding-top: 60px;
  margin-top: -60px;
}

.hr {
  @include opacity(0.5);
  background: url('stripe.png') repeat;
}

#footer .hr {
  padding: 0px 15px;
  line-height: 28px;
}

#logo {
  margin-top: 50px;
  padding: 0px 20px;

  a {
    @include adjust-font-size-to(62px);
    line-height: 80px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }
}

#squares_left {
  .first, .second, .third {
    position: absolute;
    width: 0;
    height: 0;
    left: 5px;
    border: 5px solid #046380;
  }
  .first { top: 0px; }
  .second {
    @include opacity(0.7);
    top: 10px;
  }
  .third {
    @include opacity(0.5);
    top: 20px;
  }
}

#categories_menu {
  width: 100%;
  background-color: #046380;
  padding-left: 25px;
  margin-bottom: 0px;
  z-index: 3;
  position: relative;

  li {
    text-transform: uppercase;
    display:inline;
    padding: 5px;

    a {
      padding-top: 10px;
      padding-right: 8px;
      margin-right: 18px;
      line-height: 45px;
      font-family: Economica, sans-serif;
      font-size: 18px;
      font-weight: bold;
      color: #fff;

      &:hover {
        color: #00b1d7;
        border-top: 2px solid #fff;
      }
    }
  }
}

#mini_logo {
  @include adjust-font-size-to(40px);
  z-index: 10;
  font-family: Adele, sans-serif;
  position: absolute;
  top: 2px;
  right: 28px;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
}

#latest_and_popular {
  @include box-shadow(10px 2px 1px 0 rgba(0,0,0, 0.3));
  z-index: 2;
  text-transform: uppercase;
  font-family: BebasNeue, sans-serif;
  font-size: 16px;
  line-height: 28px;

  #latest {
    background-color: #EFECCA;
    color: #000;
    margin-left: 25px;
    border-top: 2px solid #00b1d7;
    line-height: 27px;

    span {
      border-right: 1px dashed #fff;
      padding-right: 10px;
      margin: 0 10px 0 5px;
    }
    a {
      text-transform: none;
      color: #6b6b6b;
      outline: none;
      font-family: 'Open Sans', sans-serif;
      font-size: 13px;
      &:hover { text-decoration: underline; }
    }
  }

  #popular {
    background-color: #00b1d7;
    color: #fff;
    width: 652px;

    span {
      border-right: 1px dashed #fff;
      padding-right: 10px;
      margin: 0 10px 0 5px;
    }
    a {
      text-transform: none;
      color: #fff;
      outline: none;
      font-family: 'Open Sans', sans-serif;
      font-size: 13px;
      &:hover { text-decoration: underline; }
    }
    .square-right {
      @include box-shadow(0px 2px 1px 0 rgba(0,0,0, 0.3));
      position: absolute;
      width: 0;
      height: 0;
      top: 10px;
      right: -10px;
      border: 5px solid #00b1d7;
    }
  }
}

form#search {
  position: absolute;
  top: 0px;
  left: -300px;

  input {
    line-height: 28px;
    width: 300px;
    border: 5px solid #00b1d7;
    padding: 5px 10px 1px 10px;
    font-family: Adele, sans-serif;
  }
  a {
    margin-top: 20px;
    background-color: #00b1d7;
    padding: 14px 16px;
    color: #fff;

    .arrow-right {
      position: absolute;
      width: 0;
      height: 0;
      top: 14px;
      right: -8px;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      border-left: 8px solid #00b1d7;
    }
    &:hover {
      background-color: #046380;
      .arrow-right { border-left: 8px solid #046380; }
    }
  }
}


















// textarea { resize: none; }

// #new_user { margin-top: 14px; }

// #empty_search_results {
//   text-align: center;
// }

// .button-blue, .button-cancel, .button-delete {
//   @include box-shadow(0 0 5px #F2AE72 inset, 0 1px 1px #eee);
//   @include border-radius(2px);
//   @include opacity(0.8);
//   text-transform: uppercase;
//   padding: 1em 1.5em 0.75em;
//   font-weight: bold;
//   border: none;
//   color: #fff !important;
//   text-decoration: none;
//   font-family: $layout-font-family;
//   cursor: pointer;
//   background-color: #F2AE72;

//   &:hover { @include opaque }
//   &.small {
//     @include adjust-font-size-to(12px);
//   }
// }

// #subscribe_btn {
//   padding: 0px 10px;
//   @include adjust-font-size-to(10px);
//   i { padding-right: 5px; }
// }

// .button-cancel {
//   @include box-shadow(0 0 5px #CBCDCE inset, 0 1px 1px #eee);
//   background-color: #CBCDCE;
//   box-sizing: border-box;
// }

// .button-delete {
//   @include box-shadow(0 0 5px #DF3030 inset, 0 1px 1px #eee);
//   margin-left: 10px;
//   background-color: #DF3030;
// }

// // Sidebar
// .tab {
//   @include border-radius(3px 3px 0 0);
//   @include background-clip;
//   @include background-image(linear-gradient(bottom, rgba(0,0,0,.05) -17%, rgba(255,255,255,.05) 117%));
//   @include opacity(0.7);
//   @include text-shadow(0 1px 0 rgba(255,255,255,.15));
//   @include adjust-font-size-to(18px);
//   padding: 5px 20px;
//   margin-left: -1px;
//   font-weight: normal;
//   display: inline-block;
//   font-family: $layout-font-family;
//   color: #808080;
//   border: 1px solid rgba(0,0,0,.1);
//   border-bottom: 0px;
//   background-color: #f2f2f2;
// }

// .sidebar-box {
//   @include box-shadow(0 1px 1px 0 rgba(0,0,0,.1));
//   background: #fff;
//   margin: 0 0 20px 0;
//   padding: 20px;
// }

// // Search Field
// .navbar-fixed-top form {
//   position: absolute;
//   top: 8px;
//   left: 50%;
//   margin-left: -100px;

//   .icon-search {
//     position: absolute;
//     margin-top: 5px;
//     margin-left: 12px;
//   }
// }
// #search {
//   @include box-shadow(0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset);
//   @include border-radius(20px);
//   @include adjust-font-size-to(15px);
//   @include transition(all 0.7s ease 0s);
//   border: 0 none;
//   font-family: $layout-font-family;
//   font-weight: bold;
//   width: 150px;
//   padding: 6px 15px 6px 35px;
//   height: 12px;

//   &:focus { width: 200px; }
// }

// // Social icons spriting
// @import 'social-media-icons/*.png';
// @include all-social-media-icons-sprites;
// $social_media_icons_height: social-media-icons-sprite-height(facebook);
// $social_media_icons_width: social-media-icons-sprite-width(facebook);

// .social-media-icons {
//   height: $social_media_icons_height;
//   width: $social_media_icons_width;
// }
