$font_family_1: BebasNeue, sans-serif;
$font_family_2: Adele, sans-serif;
$font_family_3: Economica, sans-serif;
$font_family_4: Brandon, sans-serif;

$color_1: #292929;
$color_2: #00b1d7;
$color_3: #fff;
$color_4: #bebebe;

@include sticky-footer(30px, "#wrap", "#push", "#footer");

@font-face {
  font: {
     family: 'BebasNeue';
     weight: 'normal';
     style: 'normal';
  }
  src: asset-url('BebasNeue.otf', font);
}

@font-face {
  font: {
     family: 'Adele';
     weight: 'normal';
     style: 'normal';
  }
  src: asset-url('Adele.woff', font);
}

@font-face {
  font: {
     family: 'Economica';
     weight: 'normal';
     style: 'normal';
  }
  src: asset-url('Economica.woff', font);
}

@font-face {
  font: {
     family: 'Brandon';
     weight: 'normal';
     style: 'normal';
  }
  src: asset-url('Brandon_bld.otf', font);
}

html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

html, body { height: 100%; }

body {
  background: #000 image-url('bg2.png');
  color: #333;
}

.anchor {
  padding-top: 60px;
  margin-top: -60px;
}

.hr {
  @include opacity(0.5);
  background: url('stripe.png') repeat;
}

a { color: $color_2; }
a:hover { color: $color_1; }

#footer p {
  padding: 0px 15px;
  line-height: 30px;
  margin: 0;
  border-top: 1px dashed $color_1;
}

#logo {
  margin-top: 55px;

  a {
    font-size: 60px;
    line-height: 40px;
    font-weight: bold;
    color: $color_1;
    text-shadow: 2px 2px rgba(0,0,0,0.3);
    font-family: $font_family_3;

    span { color: $color_2; }
  }
}

#squares_left {
  .first, .second, .third {
    position: absolute;
    width: 0;
    height: 0;
    left: -5px;
    border: 5px solid $color_1;
  }
  .first { top: 0px; }
  .second {
    @include opacity(0.7);
    top: 10px;
  }
  .third {
    @include opacity(0.5);
    top: 20px;
  }
}

#categories_menu {
  width: 950px;
  background-color: $color_1;
  margin-left: -10px;
  padding-left: 22px;
  margin-bottom: 0px;
  z-index: 3;
  position: relative;

  li {
    text-transform: uppercase;
    display:inline;
    padding: 5px 0px;

    a {
      padding: 10px 8px;
      margin-right: 10px;
      line-height: 45px;
      font-family: $font_family_3;
      font-size: 18px;
      font-weight: bold;
      color: $color_3;

      &:hover {
        color: $color_2;
        border-top: 2px solid $color_3;
      }
    }
  }
}

#user {
  z-index: 10;
  position: absolute;
  top: 13px;
  right: 15px;
  a {
    color: #E4E4E4;
    background-color: $color_1;
    border-left: 1px solid $color_4;
    padding: 11px 15px 10px;
    &:hover {
      color: $color_2;
      border-left: 1px solid $color_2;
    }
  }
}

#latest_and_popular {
  z-index: 2;
  width: 960px;
  text-transform: uppercase;
  font-family: $font_family_1;
  font-size: 16px;
  line-height: 29px;
  padding-bottom: 29px;
  margin-bottom: 15px;

  #latest {
    @include box-shadow(0px 2px 1px 0 rgba(0,0,0, 0.3));
    background-color: $color_3;
    color: #000;
    border-top: 2px solid $color_2;
    line-height: 27px;

    span {
      border-right: 1px dashed $color_1;
      padding-right: 10px;
      margin: 0 10px 0 5px;
    }
    a {
      text-transform: none;
      color: #6b6b6b;
      outline: none;
      font-family: 'Open Sans', sans-serif;
      font-size: 13px;
      &:hover { text-decoration: underline; }
    }
  }

  #popular {
    @include box-shadow(0px 2px 1px 0 rgba(0,0,0, 0.3));
    background-color: $color_2;
    color: $color_3;
    width: 550px;
    position: relative;

    span {
      border-right: 1px dashed $color_3;
      padding-right: 10px;
      margin: 0 10px 0 5px;
    }
    a {
      text-transform: none;
      color: $color_3;
      outline: none;
      font-family: 'Open Sans', sans-serif;
      font-size: 13px;
      &:hover { text-decoration: underline; }
    }
    &:after {
      @include box-shadow(1px 2px 1px 0 rgba(0,0,0, 0.3));
      position: absolute;
      content: '';
      width: 0;
      height: 0;
      top: 10px;
      right: -10px;
      border: 5px solid $color_2;
      border-right: 6px solid $color_2;
    }
  }
}

form#search {
  position: absolute;
  top: 0px;
  left: -300px;

  input {
    line-height: 27px;
    width: 300px;
    border: 5px solid $color_2;
    padding: 5px 10px 1px 10px;
    font-family: $font_family_2;
  }
  a {
    margin-top: 20px;
    background-color: $color_2;
    padding: 15px 16px 13px;
    color: $color_3;
    position: relative;

    &:after {
      position: absolute;
      content: '';
      width: 0;
      height: 0;
      top: 14px;
      right: -8px;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      border-left: 8px solid $color_2;
    }
    &:hover { background-color: $color_1; }
    &:hover:after { border-left: 8px solid $color_1; }
  }
}

textarea { resize: none; }

.button-blue, .button-cancel, .button-delete {
  @include border-radius(2px);
  text-transform: uppercase;
  padding: 11px 16px 8px;
  font-size: 16px;
  border: 0px;
  color: $color_3 !important;
  text-decoration: none;
  font-family: $font_family_1;
  cursor: pointer;
  background-color: $color_2;

  &:hover { background-color: $color_1; }
  &.small {
    font-size: 16px;
    padding: 10px 13px 4px;
  }
}
.button-cancel { background-color: #CECECE; }
.button-delete { background-color: #DF3030; }

.blur { @include filter(blur(2px)); }
#sign_in_form .modal-content {
  position: fixed;
  z-index: 20;
  left: 50%;
  top: 80px;
  margin-left: -188px;
  width: 376px;
  background-color: $color_3;
  border-top: 6px solid $color_2;
  border-radius: 0;

  .modal-header {
    border: 0;

    button {
      font-size: 24px;
      line-height: 15px;
    }
  }
  .modal-body {
    text-align: center;
    padding: 0px 40px 30px;

    #mini_logo {
      font-size: 60px;
      line-height: 60px;
      font-weight: bold;
      color: $color_1;
      text-shadow: 2px 2px rgba(0,0,0,0.3);
      font-family: $font_family_3;

      span { color: $color_2; }
    }
    ul.nav.nav-tabs {
      padding-top: 20px;
      padding-left: 28px;

      li a {
        font-size: 16px;
        padding: 12px 30px 8px;
        text-transform: uppercase;
        font-family: $font_family_4;
        border-radius: 0;
      }
      li:not(.active) a:hover {
        background: $color_3;
        border-color: transparent;
        border-bottom: 1px solid #ddd;
      }
    }
    ul.nav.nav-pills {
      li {
        padding: 30px 6px 15px;
        a {
          @include opacity(0.9);
          border-radius: 0;
          color: $color_3;
          width: 60px;
          height: 60px;
          font-size: 36px;
          padding: 6px 0 0 1px;

          &:hover { @include opacity(1); }
        }
        &.google-plus a { background-color: #DD4B39; }
        &.twitter a { background-color: #00ACED; }
        &.vk a { background-color: #0274B3; }
        &.facebook a { background-color: #4B68B9; }
      }
    }
    h5 {
      text-align: center;
      font-family: $font_family_4;
      font-size: 20px;
      text-transform: uppercase;
      color: #555;

      &:before {
        content: "";
        display: inline-block;
        position: relative;
        border-top: 1px solid #DDD;
        width: 12px;
        height: 7px;
        margin: 0 4px;
      }
      &:after {
        content: "";
        display: inline-block;
        position: relative;
        border-top: 1px solid #DDD;
        width: 12px;
        height: 7px;
        margin: 0 4px;
      }
    }
    form {
      position: relative;
      text-align: left;
      padding-top: 3px;

      input {
        border-radius: 0;
        margin: 10px 0;
        padding: 22px 10px 18px;
        font-family: $font_family_2;
        font-style: italic;
      }
      label {
        padding-left: 5px;
        font-weight: normal;
        font-family: $font_family_2;
        font-size: 13px;
        color: #555;
      }
      .button-blue {
        position: absolute;
        right: 0px;
      }
    }
    #log_in_box #password_recover_link {
      position: absolute;
      top: 77px;
      right: 10px;
      font-family: $font_family_2;
    }
    #sign_in_box {
      display: none;
      padding-bottom: 35px;
    }
  }
}
