@import "active_admin/mixins";
@import "active_admin/base";
@import "frontend/articles";
@import "twitter-bootstrap-static/bootstrap";

.redactor_box {
  width: 78%;
  display: inline-block;
  margin: 0;
}

.raw-html {
  width: 76%;
  color: rgb(84, 84, 84);
  background-color: rgb(235, 235, 228);
  border: 1px solid #c9d0d6;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 0.95em;
  font-family: Helvetica, Arial, sans-serif;
  outline: none;
  display: inline-block;
  padding: 8px 10px 7px;
}
