$font_family_1: BebasNeue, sans-serif;
$font_family_2: Adele, sans-serif;
$font_family_3: Economica, sans-serif;
$font_family_4: Brandon, sans-serif;

$color_1: #292929;
$color_2: #00b1d7;
$color_3: #fff;
$color_4: #ebebeb;
$color_5: #D3D1D1;

@import "compass";
@import "active_admin/mixins";
@import "active_admin/base";
@import "frontend/bootstrap_and_overrides";
@import "frontend/articles";

.redactor_box {
  width: 78%;
  display: inline-block;
  margin: 0;
}

.raw-html {
  width: 76%;
  color: rgb(84, 84, 84);
  background-color: rgb(235, 235, 228);
  border: 1px solid #c9d0d6;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 0.95em;
  font-family: Helvetica, Arial, sans-serif;
  outline: none;
  display: inline-block;
  padding: 8px 10px 7px;
}
