p Hello #{@resource.fullname}.
p We have a new article "#{link_to @article.title, article_url(@article)}" in category "#{@category.name}":
br
p "#{@article.description}"
br
p To unsubscribe click: #{link_to "Unsubscribe", unsubscribe_articles_url(@category)}
